[user]
    name = Marc Gallant
    email = marc.gallant@avidbots.com
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global
[alias]
    co = checkout
    cm = commit
    st = status -s
    br = branch
    undo-commit = reset --soft HEAD^
    dd = difftool --dir-diff
    changes = diff HEAD@{1} HEAD
    diff = diff -w
    ll = log --pretty=format:"%cs\\ %C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    smu = submodule update --init --recursive
[status]
    showUntrackedFiles = all
[github]
    user = kam3k
[push]
    default = simple
[diff]
    tool = meld
[difftool]
    prompt = false
[merge]
    tool = meld
    conflictstyle = diff3
[mergetool]
    prompt = false
