[user]
    name = Marc Gallant
    email = marc.gallant@avidbots.com
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global
[alias]
    co = checkout
    cm = commit
    st = status -s
    br = branch
    undo-commit = reset --soft HEAD^
    d = difftool
    dd = difftool --dir-diff
    m = mergetool
    changes = diff HEAD@{1} HEAD
    diff = diff -w
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    smu = submodule update --init --recursive
[status]
    showUntrackedFiles = all
[github]
    user = kam3k
[push]
    default = simple
[diff]
    tool = meld
[difftool]
    prompt = false
[merge]
    tool = meld
    conflictstyle = diff3
[mergetool]
    prompt = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
