[user]
    name = Marc Gallant
    email = marc.gallant@quanergy.com
[core]
    editor = /usr/bin/vim
[alias]
    co = checkout
    cm = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
	undo-commit = reset --soft HEAD^
[github]
    user = kam3k
[push]
    default = simple
